<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:fieldeditor" type="Sitecore.Support.Shell.Applications.WebEdit.Commands.FieldEditor, Sitecore.Support.101770" patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.FieldEditor, Sitecore.ExperienceEditor']" />
    </commands>
  </sitecore>
</configuration>